body {
  background: #DEC91F;
}

h1 {
	color: #1F98DE;
	font-family: cursive;
}

h2 {
	color: #DE4C1F;
	text-decoration: underline;
	font-size: 20px;
}

p {
	color: #1F6EDE;
}

strong {
	color: #1FAADE;
}